*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar-container{
    display: flex;
    flex-wrap: wrap;
    width:98%;
}

.logo-container{
    display: flex;
    background-color: green;
    width: 14rem;
    height: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo-container h1 {
    display: inline;
    color: white;
}

.links-container {
    display: flex;
    background-color: black;
    height: 3rem;
    width:auto;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 3;
}

.links-container a {
    text-decoration: none;
    color: white;
    margin: 5rem;
}

#profile-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: auto;
    flex-grow: 2;
    background-color: black;
}

#profile-area-container img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 20px;
}

#profile-area-container a {
    text-decoration: none ;
    color: white;
}

#search-area {
    display: flex;
    height: 3rem;
    width: 98%;
    align-items: center;
    justify-content: space-between;
}

#search-area img {
    display: flex;
    width: 2rem;
    height: 2rem;
}


#all-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: solid black 2px;
    justify-content: center;
    padding: 2rem;
    width: 98%;

}

.cards {
    border: black 2px solid;
    width: 15rem;
    height: 20rem;
    margin: 0.2rem;
    padding: 1rem;
    
}

.cards p{
    text-align: center;
}

.cards img {
    width: 13rem;
    height: auto;
}
